/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы */
  --main-bg-image: url(/images/cover-image-light.png);
  --main-font: 'IBM Plex mono';
  --main-title-color: rgba(255, 194, 230, 1);
  --main-bg-color: rgba(255, 141, 203, 1);
  --title-color: rgba(53, 52, 48, 1);
  --subtitle-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --button-outline: rgba(50, 49, 45, 0.4);
  --text-size: 18px;
  --title-weight: 700;
  --text-weight: 400;
  --text-height: 23.4px;

  .inscription {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --main-bg-image: url(/images/cover-image-light.png);
    --main-font: 'IBM Plex mono';
    --main-title-color: rgba(255, 194, 230, 1);
    --main-bg-color: rgba(255, 141, 203, 1);
    --title-color: rgba(53, 52, 48, 1);
    --subtitle-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --button-outline: rgba(50, 49, 45, 0.4);
    --text-size: 18px;
    --title-weight: 700;
    --text-weight: 400;
    --text-height: 23.4px;

    .inscription {
      display: none;
    }
  }
}
/* Остальные стили */
