/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--main-bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: var(--text-size);
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  line-height: var(--text-height);
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px;
    gap: 60px;
  }
}

@media (min-width: 1024px) {
  .page {
    gap: 60px;
  }
}

h1,
h2,
h3 {
  font-size: var(--text-size);
  font-weight: var(--title-weight);
}

h4 {
  font-weight: var(--text-weight);
}

.header {
  display: grid;
  min-height: 338px;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
}

.decorated_zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  position: absolute;
  top: 10px;
  right: 0;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
  }
}

.decorated-zone::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  position: absolute;
  left: 0;
  bottom: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    bottom: 20px;
  }
}

.inscription {
  color: var(--button-color);
  line-height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 768px) {
  .inscription {
    top: 20px;
  }
}

.inscription::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 8px;
  border-radius: 50%;
  background-color: var(--button-color);
  box-shadow: 0 0 4px 2px var(--button-color);
}

.header__theme-menu {
  justify-self: end;
  padding: 10px 3px 0;
}

@media (min-width: 768px) {
  .header__theme-menu {
    padding-block-start: 15px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding: 0;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    margin-block-start: 20px;
  }
}

.header__theme-menu-button {
  color: var(--button-color);
  font-size: var(--text-size);
  line-height: 18px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0 11px;
}

.header__theme-menu-button:hover {
  outline-offset: 3px;
  cursor: pointer;
  outline: 1px solid var(--button-outline);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  padding-bottom: 2px;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  outline-offset: 3px;
  pointer-events: none;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--main-title-color);
  text-shadow: 4px 4px rgba(255, 0, 112, 1);
}

@media (min-width: 768px) {
  .header-title {
    margin-inline-start: -20px;
  }
}

@media (min-width: 1024px) {
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header-text {
  font-weight: var(--title-weight);
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: var(--subtitle-color);
  font-size: var(--text-size);
  line-height: var(--text-height);
}

@media (min-width: 768px) {
  .header-text {
    width: 50%;
    justify-self: end;
    margin-block-end: 20px;
  }
}

@media (min-width: 1024px) {
  .header-text {
    margin-block-start: 15px;
  }
}

main {
  display: grid;
  gap: 50px;
}

@media (min-width: 768px) {
  main {
    gap: 80px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
  }

  .section-column {
    flex-direction: column;
  }
}

.section-title {
  color: var(--title-color);
}

@media (min-width: 768px) {
  .section-title {
    max-width: 236px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .section-title {
    max-width: 315px;
    width: 100%;
  }
}

.section-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .section-card {
    min-width: 472px;
    width: 100%;
    max-height: 100%;
    max-width: 100vw;
  }
  .section-card-max-width {
    min-width: 100%;
  }
}

@media (min-width: 1024px) {
  .section-card {
    min-width: 649px;
    max-width: 100vw;
  }

  .section-card-max-width {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  .section-card-text-triple {
    flex-basis: 314px;
    flex-grow: 1;
  }
}

.section-card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .section-card {
    width: 100%;
  }
}

.section-subtitle {
  color: var(--subtitle-color);
  background-color: var(--main-bg-color);
}

.section-text {
  color: var(--text-color);
  display: inline-block;
}

.text-link {
  text-shadow: 2px 1px var(--main-bg-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: 1px solid var(--text-color);
}

.image-example {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .image-example {
    gap: 20px;
  }
}

.images {
  display: grid;
  gap: 10px;
  grid-template-areas:
    'sun'
    'ice'
    'tape'
    'books'
    'street';
}

@media (min-width: 768px) {
  .images {
    gap: 20px;
    grid-template-areas:
      'sun sun ice'
      'tape books ice'
      'tape street street';
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  img {
    height: 100%;
    width: 100%;
  }
}

.sunset {
  grid-area: sun;
}

.ice-cream {
  grid-area: ice;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  height: 100vh;
}

.footer-title {
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0 auto;
  }
}
