/*

  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-bg-image: url(../images/cover-image-dark.png); /*здравствуйте, я не знаю в чем тут проблема, я задал обычный путь и у меня все открывает :( */
  --main-font: 'IBM Plex mono', 'Arial', sans-serif;
  --main-title-color: rgba(219, 0, 255, 1);
  --main-bg-color: rgba(255, 0, 112, 1);
  --title-color: rgba(255, 0, 112, 1);
  --subtitle-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --button-color: rgba(255, 0, 112, 1);
  --button-outline: rgba(255, 0, 112, 0.4);
  --decor-visible: visible;
  --text-size: 18px;
  --title-weight: 700;
  --text-weight: 400;
  --text-height: 23.4px;
}
